<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>favorite</title>
</head>
<body>
   <% datashow.forEach(data2){%>
        <li>
            <p><%data2.name%></p>
            <p><%data2.img%></p>
            <p><%data2.level%></p>
        </li>

        <form action="/favorite"></form>
        <button> add-to-favorite </button>
    <%)}%>

</body>
</html>